
1)Addition of two numbers.

2)Check a given number is odd or even.

3)Check the number is prime or not.

4)Largest of four numbers.

5)Factorial of a number.

6)Reversing a number.

7)Weither the given string is palindrom or not.

8)Find the sum of digits.

9)Create a multiplication table.

10)Simple calculator +,-,*,/.

11)Right triangle patern.

In [ ]:
a =int(input("Enter the first number : "))
b =int(input("Enter the second number : "))
print(a+b)

Enter the first number : 4
Enter the second number : 5
9

In [ ]:
check=int(input("Enter the number : "))
if check%2==0:
    print("Even")
else:
    print("Odd")

Enter the number : 8
Even

In [ ]:
a=int(input("Enter a number : "))
count=0
if a==2:
  print("Prime")
for i in range(2,a):
    if a%i==0:
      count+=1
if count==0:
  print("Prime")
else:
  print("Not Prime")

Enter a number : 2
Prime
Prime

In [ ]:
a=int(input("Enter the first number : "))
b=int(input("Enter the second number : "))
c=int(input("Enter the third number : "))
d=int(input("Enter the fourth number : "))

if(a>b and a>c and a>d):
  print(a)
elif(b>a and b>c and b>d):
  print(b)
elif(c>a and c>b and c>d):
  print(c)
else:
  print(d)

Enter the first number : 4
Enter the second number : 6
Enter the third number : 5
Enter the fourth number : 3
6

In [ ]:
def factorial(a):
  if a==0:
    return 1
  else:
    return a*factorial(a-1)
a=int(input("Enter the number : "))
print(factorial(a))

Enter the number : 5
120

In [ ]:
a=input("Enter a number : ")
print(a[::-1])

Enter a number : 12345
54321

In [ ]:
s=input("Enter a string :")
if s==s[::-1]:
  print("Palindrome")
else:
  print("Not Palindrome")

Enter a string :dog
Not Palindrome

In [ ]:
def sum(a):
  sum=0
  for i in a:
    sum+=int(i)
  return sum
a=input("Enter a number : ")
print(sum(a))

Enter a number : 12345
15

In [ ]:
def multiplication(a):
  for i in range(1,11):
    print(a,"*",i,"=",a*i)
a=int(input("Enter a number : "))
multiplication(a)

Enter a number : 2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

In [ ]:
a=int(input("Enter first number : "))
b=int(input("Enter second number : "))

operation=input("Enter the operation : ")
if operation=="+":
  print(a+b)
elif operation=="-":
  print(a-b)
elif operation=="*":
  print(a*b)
elif operation=="/":
  print(a/b)
else:
  print("Invalid")

Enter first number : 2
Enter second number : 5
Enter the operation : +
7

In [ ]:
a = int(input("Enter no.of rows : "))
for i in range(1,a+1):
  for j in range(i):
    print("*",end="")
  print("\n")

Enter no.of rows : 10
*

**

***

****

*****

******

*******

********

*********

**********